.dialog { position: absolute; background: #FFF; }
.dialog-header { border-bottom: 1px solid #CCC; position: relative; padding: 5px 10px; }
.dialog-header .dialog-header-title { margin: 0; font-size: 16px; }
.dialog-header .dialog-header-closebtn { position: absolute; top: 7px; right: 10px; cursor: pointer; transition: .1s; }
.dialog-header .dialog-header-closebtn:hover { font-size: 16px; }
.dialog-body { padding: 5px 10px; }
.dialog-footer { border-top: 1px solid #CCC; padding: 5px 10px; text-align: right; }
.dialog-footer button { margin-left: 5px; }
.dialog-mask { background: rgba(0, 0, 0, .3); }

.dialog-footer { display: flex; padding: 0; }
.dialog-footer button { margin: 0; border: none; border-radius: 0; flex: 1; }
